<!-- <div class="pull-left full-width">
	<ul class="nav nav-list nav-stacked">
		<li ng-class="state.includes('^.info') ? 'active' : ''"><a ui-sref="app.main.profile.info">Thông tin cá nhân</a></li>
		<li ng-class="state.includes('^.password') ? 'active' : ''"><a ui-sref="app.main.profile.password">Đổi mật khẩu</a></li>
		<li>
			<a href="" class="accordion-heading" data-toggle="collapse" data-target="#nav-list-articles">Quản lý bài viết <b class="caret"></b></a>
			<ul class="nav nav-list collapse nav-stacked-second" id="nav-list-articles">
				<li><a href="">Danh sách bài viết</a></li>
				<li><a href="">Xem trước</a></li>
			</ul>
		</li>
		<li>
			<a href="" class="accordion-heading" data-toggle="collapse" data-target="#nav-list-users">Quản lý Users <b class="caret"></b></a>
			<ul class="nav nav-list collapse nav-stacked-second" id="nav-list-users">
				<li><a href="">Danh sách Users</a></li>
				<li><a href="">Thông tin Users</a></li>
			</ul>
		</li>
		<li>
			<a href="" class="accordion-heading" data-toggle="collapse" data-target="#nav-list-groups">Quản lý Groups <b class="caret"></b></a>
			<ul class="nav nav-list collapse nav-stacked-second" id="nav-list-groups">
				<li><a ui-sref="app.main.groups.list">Danh sách Groups</a></li>
				<li><a ui-sref="app.main.groups.detail">Tạo group</a></li>
			</ul>
		</li>
		<li>
			<a href="" class="accordion-heading" data-toggle="collapse" data-target="#nav-list-roles">Quản lý Roles <b class="caret"></b></a>
			<ul class="nav nav-list collapse nav-stacked-second" id="nav-list-roles">
				<li><a href="">Quản lý theo Group</a></li>
				<li><a href="">Quản lý theo User</a></li>
				<li><a href="">Thêm Role</a></li>
			</ul>
		</li>
		<li><a href="" ng-click="logout()">Đăng xuất</a></li>
	</ul>
</div> -->
<!-- <span class="pull-left column-pitch"></span> -->

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
	<!-- <form role="search">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search">
		</div>
	</form> -->
	<ul class="nav menu">
		<li ng-class="state.includes('^.home') ? 'active' : ''"><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li ng-class="state.includes('**.groups.**') ? 'active' : ''"><a ui-sref="app.main.groups.list"><i class="fa fa-group"></i> Groups</a></li>
		<li><a href="index.html"><i class="fa fa-gears"></i> Roles</a></li>
		<li><a href="index.html"><i class="fa fa-user"></i> Users</a></li>
		<li><a href="forms.html"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Articles</a></li>
		<li><a href="widgets.html"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Widgets</a></li>
		<li><a href="charts.html"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Charts</a></li>
		<li><a href="tables.html"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tables</a></li>
		<li><a href="forms.html"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Forms</a></li>
		<li><a href="panels.html"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Alerts &amp; Panels</a></li>
		<li><a href="icons.html"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Icons</a></li>
		<li class="parent ">
			<a href="#">
				<span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Dropdown 
			</a>
			<ul class="children collapse" id="sub-item-1">
				<li>
					<a class="" href="#">
						<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 1
					</a>
				</li>
				<li>
					<a class="" href="#">
						<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 2
					</a>
				</li>
				<li>
					<a class="" href="#">
						<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
					</a>
				</li>
			</ul>
		</li>
		<li role="presentation" class="divider"></li>
		<li><a ui-sref='app.auth.signout'><i class="fa fa-sign-out"></i> Logout</a></li>
	</ul>

</div><!--/.sidebar-->