<div class="auth-page">
	<div class='container'>
		<div id='logo-box'><a href="/"><img src="image/logo2.png"></a></div>
		<div id='welcome-message'><h2>Chào mừng đến với Viễn Vọng</h2></div>
		<div id='slogan-message' class="text-primary"><h4>Tri thức là của toàn xã hội</h4></div>
		<div class='auth-box'>
			<div class="jumbotron row container-fluid	">
				<div>
					<span class='circle auth-icon'><img src="image/user-icon.png"></span>
				</div>
				<br>
			    <div ui-view="" class=""></div>
			</div>

			<div class="row marketing">
			    <h4>Chia sẻ</h4>
			    <p>Viễn vọng là nơi mọi người chia sẻ thông tin, kinh nghiệm và kiến thức</p>
			</div>
		</div>
	</div>
</div>