<div class="form-group text-justify">
	<h2>Tạm biệt</h2>
</div>
<div class="form-group text-justify">
	<p>Viễn Vọng cảm ơn những đóng góp của bạn cho cộng đồng.</p>
	<p>Chúng tôi hi vọng bạn sẽ tiếp tục là một thành viên tích cực của Viễn Vọng.</p>
	<p>Mọi ý kiến đóng góp của bạn xin hãy gửi về địa chỉ vienvong.vn@gmail.com. Ý kiến của bạn là cơ sở để chúng tôi cải thiện ngày một tốt hơn.</p>
	<p>Xin cảm ơn!</p>
</div>
<hr>
<div class="form-group row">
	<div class="container-fluid">
		<a ui-sref="app.auth.signin" class="btn-link pull-left">Đăng nhập</a>
		<a ui-sref="app.auth.signup" class="btn-link pull-right">Đăng ký</a>
	</div>
</div>