<!-- Add your site or application content here -->
    <header>
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid" ng-init='typeshow = false'>
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" ng-click='typeshow="menu"'>
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" ng-click='typeshow="user"'>
              <span class="sr-only">Toggle navigation</span>
              <span class="glyphicon glyphicon-user"></span>
            </button>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" ng-click='typeshow="search"'>
              <span class="sr-only">Toggle navigation</span>
              <span class="glyphicon glyphicon-search"></span>
            </button> -->

            <a class="navbar-brand" href="/">Viễn Vọng</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="header-navbar-collapse">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group search-box" ng-init='searchFocus = false'>
                <input type="text" class="form-control search-input" placeholder="Search" ng-focus="searchFocus = true" ng-blur="searchFocus = false">
                <button type="submit" class="btn search-button" ng-class="searchFocus?'btn-info':'btn-disable'">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li class="" ng-if="!user">
                <a class="pull-left" ui-sref="app.auth.signin">Đăng nhập</a>
                <a class="none-padding-side pull-left">|</a>
                <a class="pull-left" ui-sref='app.auth.signup'>Đăng ký</a>
              </li>
              <li class="" ng-if="user">
                <a class="pull-left" ui-sref="app.main.user.profile" ng-bind="user"></a>
              </li>
              <!-- <li class="dropdown row">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-user"></span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid content-page">
      <div ui-view=""></div>
      <!-- <div class="jumbotron">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">
          <img src="images/yeoman.png" alt="I'm Yeoman"><br>
          Always a pleasure scaffolding your apps.
        </p>
        <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
      </div>

      <div class="row marketing">
        <h4>HTML5 Boilerplate</h4>
        <p>
          HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
        </p>

        <h4>Angular</h4>
        <p>
          AngularJS is a toolset for building the framework most suited to your application development.
        </p>

        <h4>Karma</h4>
        <p>Spectacular Test Runner for JavaScript.</p>
      </div> -->
    </div>



