/**
 * ================================================
 * Default Page
 * ================================================
 */
html, body {
	height: 100%;
	min-height: 100%;
}

.page {
	min-height: 100%;
}

/**
 * ================================================
 * Glyphicon Extends
 * ================================================
 */
.fa-2x{font-size: 2em;}
.fa-3x{font-size: 3em;}
.fa-4x{font-size: 4em;}
.fa-5x{font-size: 5em;}
/**
 * ================================================
 * Box Space
 * ================================================
 */
.none-padding {
	padding: 0;
}

.none-padding-side {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.none-padding-lower {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.none-padding-left {
	padding-left: 0 !important;
}

.none-padding-right {
	padding-right: 0 !important;
}

.full-width {
	width: 100% !important;
}

.fixed-width {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.form-group {
	display: block;
}

.column-pitch {
	position: fixed;
	width: 1px;
	border-left: 1px solid $border-color;
	height: 90%;
}
/**
 * ================================================
 * Box Style
 * ================================================
 */
.circle {
	display: inline-block;
	border: 1px solid $border-color;
	border-radius: 50%;
	overflow: hidden;
	// padding: $vienvong-default-space / 2;
}
/**
 * ================================================
 * Text Color
 * ================================================
 */
.blur-text {
	color: $blur-color;
}
.border-text {
	color: $border-color;
}
.facebook-text {
	color: $fb-color;
}
.google-text {
	color: $google-color;
}
.twitter-text {
	color: $tw-color;
}
.rss-text {
	color: $rss-color;
}
.required-text {
	color: red;
}
/**
 * ================================================
 * Default Page Style
 * ================================================
 */
.content-page {
	
}
.error-message {
	@extend .text-danger;
	padding-top: 8px;
	padding-bottom: 8px;
}