//
$font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

//
$blur-color: #777;
$border-color: #ccc;
$fb-color: #45619d;
$tw-color: #4e9fd7;
$google-color: #d73d32;
$rss-color: #f86811;
//
$vienvong-standard-height: 50px;
$vienvong-header-height: $vienvong-standard-height;
$vienvong-default-space: 12px;