<form class="user-form" name="PasswordForm" ng-submit="update()" ng-class="submitting ? 'form-loading' : ''">
	<div class="form-input form-group">
		<div class="form-group form-rule">
			<label>Mật khẩu hiện tại</label>
			<input type="password" class="form-control" name="current" placeholder="Mật khẩu hiện tại" ng-model="password.current" ng-pattern="/^[\S]{8,64}$/" required ng-blur="currentInputed = true">
			<div ng-messages="PasswordForm.current.$error" ng-if="currentInputed">
				<p ng-message="pattern" class="error-message">Mật khẩu nhập vào không hợp lệ</p>
			</div>
		</div>
		<div class="form-group form-rule">
			<label>Mật khẩu mới</label>
			<input type="password" class="form-control" name="change" placeholder="Mật khẩu mới" ng-model="password.change" ng-pattern="/^[\S]{8,64}$/" required ng-blur="changeInputed = true" uib-tooltip="Mật khẩu là chuỗi kí tự bất kì dài 8-64 ký tự, không bao gồm khoảng trắng" tooltip-placement="top-left" tooltip-trigger="focus">
			<div ng-messages="PasswordForm.change.$error" ng-if="changeInputed">
				<p ng-message="pattern" class="error-message">Mật khẩu nhập vào không hợp lệ</p>
			</div>
		</div>
		<div class="form-group form-rule">
			<label>Nhập lại mật khẩu</label>
			<input type="password" class="form-control" name="retype" placeholder="Nhập lại mật khẩu" ng-model="password.retype" ng-pattern="/^[\S]{8,64}$/" required compare-to='password.change' ng-blur="retypeInputed = true">
			<div ng-messages="PasswordForm.retype.$error" ng-if="retypeInputed">
				<p class="error-message" ng-message='compareTo'>Xác nhận mật khẩu không đúng</p>
			</div>
		</div>
		<div class="form-group" ng-if="errmsg">
			<p class="error-message" ng-bind="errmsg"></p>
		</div>
		<div class="form-group">
			<span class='pull-right'>
				<button class="btn btn-info" type="submit">Đổi mật khẩu</button>
				<button class="btn btn-danger" type="reset">Hủy</button>
			</span>
		</div>
	</div>
	<div class="form-modal">
		<div class="form-modal-loading">
			<i class="fa fa-spinner fa-pulse fa-3x fa-fw twitter-text"></i>
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</form>